<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>安信达</string>
	<string>百世汇通</string>
	<string>百福东方</string>
	<string>BHT</string>
	<string>包裹/平邮/挂号信</string>
	<string>邦送物流</string>
	<string>希伊艾斯</string>
	<string>中国东方</string>
	<string>传喜物流</string>
	<string>大田物流</string>
	<string>德邦物流</string>
	<string>DPEX</string>
	<string>D速快递</string>
	<string>递四方</string>
	<string>EMS</string>
	<string>飞康达物流</string>
	<string>飞快达</string>
	<string>凡客如风达</string>
	<string>风行天下</string>
	<string>飞豹快递</string>
	<string>港中能达</string>
	<string>国通快递</string>
	<string>广东邮政</string>
	<string>挂号信</string>
	<string>国内邮件</string>
	<string>国际邮件</string>
	<string>GLS</string>
	<string>共速达</string>
	<string>汇通快运</string>
	<string>汇强快递</string>
	<string>华宇物流</string>
	<string>恒路物流</string>
	<string>华夏龙</string>
	<string>海航天天</string>
	<string>海外环球</string>
	<string>河北建华</string>
	<string>海盟速递</string>
	<string>华企快运</string>
	<string>山东海红</string>
	<string>佳吉物流</string>
	<string>佳怡物流</string>
	<string>加运美</string>
	<string>京广速递</string>
	<string>急先达</string>
	<string>晋越快递</string>
	<string>捷特快递</string>
	<string>金大物流</string>
	<string>嘉里大通</string>
	<string>快捷速递</string>
	<string>康力物流</string>
	<string>跨越物流</string>
	<string>联昊通</string>
	<string>龙邦物流</string>
	<string>蓝镖快递</string>
	<string>乐捷递</string>
	<string>联邦快递</string>
	<string>立即送</string>
	<string>隆浪快递</string>
	<string>门对门</string>
	<string>美国快递</string>
	<string>明亮物流</string>
	<string>OCS</string>
	<string>onTrac</string>
	<string>全晨快递</string>
	<string>全际通</string>
	<string>全日通</string>
	<string>全一快递</string>
	<string>全峰快递</string>
	<string>七天连锁</string>
	<string>如风达快递</string>
	<string>申通</string>
	<string>顺丰速递</string>
	<string>三态速递</string>
	<string>盛辉物流</string>
	<string>速尔物流</string>
	<string>盛丰物流</string>
	<string>上大物流</string>
	<string>山东海红</string>
	<string>赛澳递</string>
	<string>山东海红</string>
	<string>山西红马甲</string>
	<string>圣安物流</string>
	<string>穗佳物流</string>
	<string>天地华宇</string>
	<string>天天快递</string>
	<string>TNT</string>
	<string>通和天下</string>
	<string>UPS</string>
	<string>优速物流</string>
	<string>万家物流</string>
	<string>万象物流</string>
	<string>微特派</string>
	<string>新邦物流</string>
	<string>信丰物流</string>
	<string>新邦物流</string>
	<string>新蛋奥硕物流</string>
	<string>香港邮政</string>
	<string>圆通速递</string>
	<string>韵达快运</string>
	<string>运通快递</string>
	<string>邮政国内</string>
	<string>邮政国际</string>
	<string>远成物流</string>
	<string>亚风速递</string>
	<string>一邦速递</string>
	<string>优速物流</string>
	<string>源伟丰快递</string>
	<string>元智捷诚</string>
	<string>越丰物流</string>
	<string>源安达</string>
	<string>原飞航</string>
	<string>银捷速递</string>
	<string>一统飞鸿</string>
	<string>中通速递</string>
	<string>宅急送</string>
	<string>中邮物流</string>
	<string>忠信达</string>
	<string>中速快件</string>
	<string>芝麻开门</string>
	<string>郑州建华</string>
	<string>中天万运</string>
</array>
</plist>
