<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>A</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>AAE快递</string>
				<key>comID</key>
				<string>aae</string>
				<key>phoneNumber</key>
				<string>400-610-0400</string>
			</dict>
			<dict>
				<key>name</key>
				<string>安信达电话</string>
				<key>comID</key>
				<string>anxindakuaixi</string>
				<key>phoneNumber</key>
				<string>021-54224681</string>
			</dict>
			<dict>
				<key>name</key>
				<string>安能物流电话</string>
				<key>comID</key>
				<string>annengwuliu</string>
				<key>phoneNumber</key>
				<string>400-104-0088</string>
			</dict>
			<dict>
				<key>name</key>
				<string>安迅物流电话</string>
				<key>comID</key>
				<string>anxl</string>
				<key>phoneNumber</key>
				<string>010-59288730</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>B</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>BHT快递</string>
				<key>comID</key>
				<string>bht</string>
				<key>phoneNumber</key>
				<string>010-58633508</string>
			</dict>
			<dict>
				<key>name</key>
				<string>巴伦支电话</string>
				<key>comID</key>
				<string>balunzhi</string>
				<key>phoneNumber</key>
				<string>400-636-1516</string>
			</dict>
			<dict>
				<key>name</key>
				<string>百世汇通快递电话</string>
				<key>comID</key>
				<string>huitongkuaidi</string>
				<key>phoneNumber</key>
				<string>400-956-5656</string>
			</dict>
			<dict>
				<key>name</key>
				<string>邦送物流电话</string>
				<key>comID</key>
				<string>bangsongwuliu</string>
				<key>phoneNumber</key>
				<string>021-20965696</string>
			</dict>
			<dict>
				<key>name</key>
				<string>百福东方快递</string>
				<key>comID</key>
				<string>baifudongfang</string>
				<key>phoneNumber</key>
				<string>010-57169000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>C</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>COE快递</string>
				<key>comID</key>
				<string>coe</string>
				<key>phoneNumber</key>
				<string>0755-83575000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>City-Link</string>
				<key>comID</key>
				<string>citylink</string>
				<key>phoneNumber</key>
				<string>603-55658399</string>
			</dict>
			<dict>
				<key>name</key>
				<string>传喜物流电话</string>
				<key>comID</key>
				<string>chuanxiwuliu</string>
				<key>phoneNumber</key>
				<string>400-777-5656</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>D</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>DHL中国快递</string>
				<key>comID</key>
				<string>dhl</string>
				<key>phoneNumber</key>
				<string>800-810-8000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DPEX快递</string>
				<key>comID</key>
				<string>dpex</string>
				<key>phoneNumber</key>
				<string>021-64659883</string>
			</dict>
			<dict>
				<key>name</key>
				<string>D速快递</string>
				<key>comID</key>
				<string>dsukuaidi</string>
				<key>phoneNumber</key>
				<string>0531-88636363</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大田物流</string>
				<key>comID</key>
				<string>datianwuliu</string>
				<key>phoneNumber</key>
				<string>400-626-1166</string>
			</dict>
			<dict>
				<key>name</key>
				<string>德邦电话</string>
				<key>comID</key>
				<string>debangwuliu</string>
				<key>phoneNumber</key>
				<string>95353</string>
			</dict>
			<dict>
				<key>name</key>
				<string>递达速运电话</string>
				<key>comID</key>
				<string>didasuyun</string>
				<key>phoneNumber</key>
				<string>400-687-8123</string>
			</dict>
			<dict>
				<key>name</key>
				<string>递四方电话</string>
				<key>comID</key>
				<string>disifang</string>
				<key>phoneNumber</key>
				<string>0755-33933895</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大洋物流电话</string>
				<key>comID</key>
				<string>dayangwuliu</string>
				<key>phoneNumber</key>
				<string>400-820-0088</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>E</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>EMS快递电话</string>
				<key>comID</key>
				<string>ems</string>
				<key>phoneNumber</key>
				<string>11183</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>F</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>FedEx国际</string>
				<key>comID</key>
				<string>fedexcn</string>
				<key>phoneNumber</key>
				<string>400-886-1888</string>
			</dict>
			<dict>
				<key>name</key>
				<string>FedEx美国件</string>
				<key>comID</key>
				<string>fedexus</string>
				<key>phoneNumber</key>
				<string>800-463-3339</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飞豹快递电话</string>
				<key>comID</key>
				<string>feibaokuaidi</string>
				<key>phoneNumber</key>
				<string>400-000-5566</string>
			</dict>
			<dict>
				<key>name</key>
				<string>风行天下快递</string>
				<key>comID</key>
				<string>fengxingtianxia</string>
				<key>phoneNumber</key>
				<string>400-040-4909</string>
			</dict>
			<dict>
				<key>name</key>
				<string>凡宇快递电话</string>
				<key>comID</key>
				<string>fanyukuaidi</string>
				<key>phoneNumber</key>
				<string>400-658-0358</string>
			</dict>
			<dict>
				<key>name</key>
				<string>凡客配送电话</string>
				<key>comID</key>
				<string>rufengda</string>
				<key>phoneNumber</key>
				<string>400-010-6660</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>G</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>GLS快递电话</string>
				<key>comID</key>
				<string>gls</string>
				<key>phoneNumber</key>
				<string>877-914-5465</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GSM快递</string>
				<key>comID</key>
				<string>gsm</string>
				<key>phoneNumber</key>
				<string>021-64656011</string>
			</dict>
			<dict>
				<key>name</key>
				<string>国通快递电话</string>
				<key>comID</key>
				<string>guotongkuaidi</string>
				<key>phoneNumber</key>
				<string>400-677-3777</string>
			</dict>
			<dict>
				<key>name</key>
				<string>共速达电话</string>
				<key>comID</key>
				<string>gongsuda</string>
				<key>phoneNumber</key>
				<string>400-111-0005</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>H</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>海外环球电话</string>
				<key>comID</key>
				<string>haiwaihuanqiu</string>
				<key>phoneNumber</key>
				<string>010-59790107</string>
			</dict>
			<dict>
				<key>name</key>
				<string>海盟速递电话</string>
				<key>comID</key>
				<string>haimengsudi</string>
				<key>phoneNumber</key>
				<string>400-080-6369</string>
			</dict>
			<dict>
				<key>name</key>
				<string>河北建华</string>
				<key>comID</key>
				<string>hebeijianhua</string>
				<key>phoneNumber</key>
				<string>0311-86123186</string>
			</dict>
			<dict>
				<key>name</key>
				<string>华企快运电话</string>
				<key>comID</key>
				<string>huaqikuaiyun</string>
				<key>phoneNumber</key>
				<string>400-626-2356</string>
			</dict>
			<dict>
				<key>name</key>
				<string>华夏龙电话</string>
				<key>comID</key>
				<string>huaxialongwuliu</string>
				<key>phoneNumber</key>
				<string>0755-61211999</string>
			</dict>
			<dict>
				<key>name</key>
				<string>汇强快递电话</string>
				<key>comID</key>
				<string>huiqiangkuaidi</string>
				<key>phoneNumber</key>
				<string>400-000-0177</string>
			</dict>
			<dict>
				<key>name</key>
				<string>昊盛物流电话</string>
				<key>comID</key>
				<string>haoshengwuliu</string>
				<key>phoneNumber</key>
				<string>400-186-5566</string>
			</dict>
			<dict>
				<key>name</key>
				<string>恒路物流电话</string>
				<key>comID</key>
				<string>hengluwuliu</string>
				<key>phoneNumber</key>
				<string>400-182-6666</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>J</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>急先达电话</string>
				<key>comID</key>
				<string>jixianda</string>
				<key>phoneNumber</key>
				<string>400-694-1256</string>
			</dict>
			<dict>
				<key>name</key>
				<string>捷特快递电话</string>
				<key>comID</key>
				<string>jietekuaidi</string>
				<key>phoneNumber</key>
				<string>400-820-8585</string>
			</dict>
			<dict>
				<key>name</key>
				<string>佳吉快运电话</string>
				<key>comID</key>
				<string>jiajiwuliu</string>
				<key>phoneNumber</key>
				<string>400-820-5566</string>
			</dict>
			<dict>
				<key>name</key>
				<string>京广速递</string>
				<key>comID</key>
				<string>jinguangsudikuaijian</string>
				<key>phoneNumber</key>
				<string>0769-83660666</string>
			</dict>
			<dict>
				<key>name</key>
				<string>嘉里大通电话</string>
				<key>comID</key>
				<string>jialidatong</string>
				<key>phoneNumber</key>
				<string>400-610-3188</string>
			</dict>
			<dict>
				<key>name</key>
				<string>晋越快递</string>
				<key>comID</key>
				<string>jinyuekuaidi</string>
				<key>phoneNumber</key>
				<string>0769-85158039</string>
			</dict>
			<dict>
				<key>name</key>
				<string>加运美电话</string>
				<key>comID</key>
				<string>jiayunmeiwuliu</string>
				<key>phoneNumber</key>
				<string>0769-85515555</string>
			</dict>
			<dict>
				<key>name</key>
				<string>佳怡物流电话</string>
				<key>comID</key>
				<string>jiayiwuliu</string>
				<key>phoneNumber</key>
				<string>400-631-9999</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金大物流</string>
				<key>comID</key>
				<string>jindawuliu</string>
				<key>phoneNumber</key>
				<string>0755-82262209</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>K</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>KCS快递电话</string>
				<key>comID</key>
				<string>kcs</string>
				<key>phoneNumber</key>
				<string>800-858-5590</string>
			</dict>
			<dict>
				<key>name</key>
				<string>快捷速递电话</string>
				<key>comID</key>
				<string>kuaijiesudi</string>
				<key>phoneNumber</key>
				<string>400-830-4888</string>
			</dict>
			<dict>
				<key>name</key>
				<string>跨越速递电话</string>
				<key>comID</key>
				<string>kuayue</string>
				<key>phoneNumber</key>
				<string>400-809-8098</string>
			</dict>
			<dict>
				<key>name</key>
				<string>康力物流电话</string>
				<key>comID</key>
				<string>kangliwuliu</string>
				<key>phoneNumber</key>
				<string>400-156-5156</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>L</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>林道国际快递</string>
				<key>comID</key>
				<string>lindao</string>
				<key>phoneNumber</key>
				<string>400-820-0112</string>
			</dict>
			<dict>
				<key>name</key>
				<string>联邦快递电话</string>
				<key>comID</key>
				<string>lianbangkuaidi</string>
				<key>phoneNumber</key>
				<string>400-889-1888</string>
			</dict>
			<dict>
				<key>name</key>
				<string>立即送电话</string>
				<key>comID</key>
				<string>lijisong</string>
				<key>phoneNumber</key>
				<string>400-028-5666</string>
			</dict>
			<dict>
				<key>name</key>
				<string>乐捷递电话</string>
				<key>comID</key>
				<string>lejiedi</string>
				<key>phoneNumber</key>
				<string>400-618-1400</string>
			</dict>
			<dict>
				<key>name</key>
				<string>龙邦速递电话</string>
				<key>comID</key>
				<string>longbanwuliu</string>
				<key>phoneNumber</key>
				<string>021-39283333</string>
			</dict>
			<dict>
				<key>name</key>
				<string>联昊通电话</string>
				<key>comID</key>
				<string>lianhaowuliu</string>
				<key>phoneNumber</key>
				<string>0769-88620000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>M</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>民邦速递</string>
				<key>comID</key>
				<string>minbangsudi</string>
				<key>phoneNumber</key>
				<string>0769-81515303</string>
			</dict>
			<dict>
				<key>name</key>
				<string>民航快递电话</string>
				<key>comID</key>
				<string>minghangkuaidi</string>
				<key>phoneNumber</key>
				<string>400-817-4008</string>
			</dict>
			<dict>
				<key>name</key>
				<string>明亮物流电话</string>
				<key>comID</key>
				<string>mingliangwuliu</string>
				<key>phoneNumber</key>
				<string>400-035-6568</string>
			</dict>
			<dict>
				<key>name</key>
				<string>闽盛快递电话</string>
				<key>comID</key>
				<string>minshengkuaidi</string>
				<key>phoneNumber</key>
				<string>0592-3725988</string>
			</dict>
			<dict>
				<key>name</key>
				<string>门对门电话</string>
				<key>comID</key>
				<string>menduimen</string>
				<key>phoneNumber</key>
				<string>400-700-7676</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>N</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>能达速递电话</string>
				<key>comID</key>
				<string>ganzhongnengda</string>
				<key>phoneNumber</key>
				<string>400-6886-765</string>
			</dict>
			<dict>
				<key>name</key>
				<string>偌亚奥快递</string>
				<key>comID</key>
				<string>nuoyaao</string>
				<key>phoneNumber</key>
				<string>400-887-1871</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>O</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>OCS快递电话</string>
				<key>comID</key>
				<string>ocs</string>
				<key>phoneNumber</key>
				<string>400-118-8588</string>
			</dict>
			<dict>
				<key>name</key>
				<string>OnTrac快递</string>
				<key>comID</key>
				<string>ontrac</string>
				<key>phoneNumber</key>
				<string>800-334-5000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>P</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>平安达腾飞</string>
				<key>comID</key>
				<string>pingandatengfei</string>
				<key>phoneNumber</key>
				<string>4006-230-009</string>
			</dict>
			<dict>
				<key>name</key>
				<string>品速心达快递</string>
				<key>comID</key>
				<string>pinsuxinda</string>
				<key>phoneNumber</key>
				<string>400-800-3693</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Q</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>全一快递电话</string>
				<key>comID</key>
				<string>quanyikuaidi</string>
				<key>phoneNumber</key>
				<string>400-663-1111</string>
			</dict>
			<dict>
				<key>name</key>
				<string>全峰快递电话</string>
				<key>comID</key>
				<string>quanfengkuaidi</string>
				<key>phoneNumber</key>
				<string>400-100-0001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>全日通电话</string>
				<key>comID</key>
				<string>quanritongkuaidi</string>
				<key>phoneNumber</key>
				<string>020-86298999</string>
			</dict>
			<dict>
				<key>name</key>
				<string>全际通电话</string>
				<key>comID</key>
				<string>quanjitong</string>
				<key>phoneNumber</key>
				<string>400-0179-888</string>
			</dict>
			<dict>
				<key>name</key>
				<string>全晨快递</string>
				<key>comID</key>
				<string>quanchenkuaidi</string>
				<key>phoneNumber</key>
				<string>0769-82026703</string>
			</dict>
			<dict>
				<key>name</key>
				<string>七天连锁快递</string>
				<key>comID</key>
				<string>sevendays</string>
				<key>phoneNumber</key>
				<string>400-882-1202</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>R</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>如风达电话</string>
				<key>comID</key>
				<string>rufengda</string>
				<key>phoneNumber</key>
				<string>400-010-6660</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>S</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>顺丰速运电话</string>
				<key>comID</key>
				<string>shunfeng</string>
				<key>phoneNumber</key>
				<string>95338</string>
			</dict>
			<dict>
				<key>name</key>
				<string>申通快递电话</string>
				<key>comID</key>
				<string>shentong</string>
				<key>phoneNumber</key>
				<string>400-889-5543</string>
			</dict>
			<dict>
				<key>name</key>
				<string>速尔快递电话</string>
				<key>comID</key>
				<string>suer</string>
				<key>phoneNumber</key>
				<string>400-882-2168</string>
			</dict>
			<dict>
				<key>name</key>
				<string>圣安物流电话</string>
				<key>comID</key>
				<string>shenganwuliu</string>
				<key>phoneNumber</key>
				<string>400-661-8169</string>
			</dict>
			<dict>
				<key>name</key>
				<string>盛丰物流</string>
				<key>comID</key>
				<string>shengfengwuliu</string>
				<key>phoneNumber</key>
				<string>0591-83621111</string>
			</dict>
			<dict>
				<key>name</key>
				<string>三态速递电话</string>
				<key>comID</key>
				<string>santaisudi</string>
				<key>phoneNumber</key>
				<string>400-881-8106</string>
			</dict>
			<dict>
				<key>name</key>
				<string>盛辉物流电话</string>
				<key>comID</key>
				<string>shenghuiwuliu</string>
				<key>phoneNumber</key>
				<string>400-822-2222</string>
			</dict>
			<dict>
				<key>name</key>
				<string>上大物流电话</string>
				<key>comID</key>
				<string>shangda</string>
				<key>phoneNumber</key>
				<string>021-54477891</string>
			</dict>
			<dict>
				<key>name</key>
				<string>赛澳递快递</string>
				<key>comID</key>
				<string>saiaodi</string>
				<key>phoneNumber</key>
				<string>400-034-5888</string>
			</dict>
			<dict>
				<key>name</key>
				<string>穗佳物流电话</string>
				<key>comID</key>
				<string>suijiawuliu</string>
				<key>phoneNumber</key>
				<string>400-880-9771</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>T</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>TNT快递电话</string>
				<key>comID</key>
				<string>tnt</string>
				<key>phoneNumber</key>
				<string>800-820-9868</string>
			</dict>
			<dict>
				<key>name</key>
				<string>天地华宇快递</string>
				<key>comID</key>
				<string>tiandihuayu</string>
				<key>phoneNumber</key>
				<string>400-808-6666</string>
			</dict>
			<dict>
				<key>name</key>
				<string>天天快递电话</string>
				<key>comID</key>
				<string>tiantian</string>
				<key>phoneNumber</key>
				<string>4001-888-888</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通和天下快递</string>
				<key>comID</key>
				<string>tonghetianxia</string>
				<key>phoneNumber</key>
				<string>400-0056-516</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>U</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>UPS快递电话</string>
				<key>comID</key>
				<string>ups</string>
				<key>phoneNumber</key>
				<string>400-820-8388</string>
			</dict>
			<dict>
				<key>name</key>
				<string>USPS快递</string>
				<key>comID</key>
				<string>usps</string>
				<key>phoneNumber</key>
				<string>800-275-8777</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>W</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>微特派电话</string>
				<key>comID</key>
				<string>weitepai</string>
				<key>phoneNumber</key>
				<string>400-6363-000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>万象物流电话</string>
				<key>comID</key>
				<string>wanxiangwuliu</string>
				<key>phoneNumber</key>
				<string>400-820-8088</string>
			</dict>
			<dict>
				<key>name</key>
				<string>万家物流</string>
				<key>comID</key>
				<string>wanjiawuliu</string>
				<key>phoneNumber</key>
				<string>021-5193-7018</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>X</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>新邦物流电话</string>
				<key>comID</key>
				<string>xinbangwuliu</string>
				<key>phoneNumber</key>
				<string>400-800-0222</string>
			</dict>
			<dict>
				<key>name</key>
				<string>信丰物流电话</string>
				<key>comID</key>
				<string>xinfengwuliu</string>
				<key>phoneNumber</key>
				<string>400-830-6333</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新蛋物流电话</string>
				<key>comID</key>
				<string>neweggozzo</string>
				<key>phoneNumber</key>
				<string>400-820-4400</string>
			</dict>
			<dict>
				<key>name</key>
				<string>祥龙运通</string>
				<key>comID</key>
				<string>xianglongyuntong</string>
				<key>phoneNumber</key>
				<string>0755-88888908</string>
			</dict>
			<dict>
				<key>name</key>
				<string>希优特电话</string>
				<key>comID</key>
				<string>xiyoutekuaidi</string>
				<key>phoneNumber</key>
				<string>400-840-0365</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Y</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>邮政包裹/挂号信</string>
				<key>comID</key>
				<string>youzhengguonei</string>
				<key>phoneNumber</key>
				<string>11185</string>
			</dict>
			<dict>
				<key>name</key>
				<string>圆通速递电话</string>
				<key>comID</key>
				<string>yuantong</string>
				<key>phoneNumber</key>
				<string>021-69777888</string>
			</dict>
			<dict>
				<key>name</key>
				<string>韵达快递电话</string>
				<key>comID</key>
				<string>yunda</string>
				<key>phoneNumber</key>
				<string>400-821-6789</string>
			</dict>
			<dict>
				<key>name</key>
				<string>优速物流电话</string>
				<key>comID</key>
				<string>youshuwuliu</string>
				<key>phoneNumber</key>
				<string>400-1111-119</string>
			</dict>
			<dict>
				<key>name</key>
				<string>远成物流电话</string>
				<key>comID</key>
				<string>yuanchengwuliu</string>
				<key>phoneNumber</key>
				<string>400-820-1646</string>
			</dict>
			<dict>
				<key>name</key>
				<string>亿领速运电话</string>
				<key>comID</key>
				<string>yilingsuyun</string>
				<key>phoneNumber</key>
				<string>400-611-1892</string>
			</dict>
			<dict>
				<key>name</key>
				<string>亿顺航电话</string>
				<key>comID</key>
				<string>yishunhang</string>
				<key>phoneNumber</key>
				<string>4006-018-268</string>
			</dict>
			<dict>
				<key>name</key>
				<string>邮必佳电话</string>
				<key>comID</key>
				<string>youbijia</string>
				<key>phoneNumber</key>
				<string>400-687-8123</string>
			</dict>
			<dict>
				<key>name</key>
				<string>易通达电话</string>
				<key>comID</key>
				<string>yitongda</string>
				<key>phoneNumber</key>
				<string>0898-65339299</string>
			</dict>
			<dict>
				<key>name</key>
				<string>银捷速递</string>
				<key>comID</key>
				<string>yinjiesudi</string>
				<key>phoneNumber</key>
				<string>0755-88250666</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宇鑫物流</string>
				<key>comID</key>
				<string>yuxinwuliu</string>
				<key>phoneNumber</key>
				<string>0371-66368798</string>
			</dict>
			<dict>
				<key>name</key>
				<string>源安达电话</string>
				<key>comID</key>
				<string>yuananda</string>
				<key>phoneNumber</key>
				<string>0769-85021875</string>
			</dict>
			<dict>
				<key>name</key>
				<string>元智捷诚电话</string>
				<key>comID</key>
				<string>yuanzhijiecheng</string>
				<key>phoneNumber</key>
				<string>400-081-2345</string>
			</dict>
			<dict>
				<key>name</key>
				<string>一邦速递电话</string>
				<key>comID</key>
				<string>yibangwuliu</string>
				<key>phoneNumber</key>
				<string>400-800-0666</string>
			</dict>
			<dict>
				<key>name</key>
				<string>亚风速递电话</string>
				<key>comID</key>
				<string>yafengsudi</string>
				<key>phoneNumber</key>
				<string>400-628-0018</string>
			</dict>
			<dict>
				<key>name</key>
				<string>源伟丰电话</string>
				<key>comID</key>
				<string>yuanweifeng</string>
				<key>phoneNumber</key>
				<string>400-601-2228</string>
			</dict>
			<dict>
				<key>name</key>
				<string>越丰物流电话</string>
				<key>comID</key>
				<string>yuefengwuliu</string>
				<key>phoneNumber</key>
				<string>852-23909969</string>
			</dict>
			<dict>
				<key>name</key>
				<string>原飞航快递</string>
				<key>comID</key>
				<string>yuanfeihangwuliu</string>
				<key>phoneNumber</key>
				<string>0755-29778899</string>
			</dict>
			<dict>
				<key>name</key>
				<string>运通中港</string>
				<key>comID</key>
				<string>yuntongkuaidi</string>
				<key>phoneNumber</key>
				<string>0769-81156999</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Z</string>
		<key>companies</key>
		<array>
			<dict>
				<key>name</key>
				<string>宅急送电话</string>
				<key>comID</key>
				<string>zhaijisong</string>
				<key>phoneNumber</key>
				<string>400-6789-000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中通速递电话</string>
				<key>comID</key>
				<string>zhongtong</string>
				<key>phoneNumber</key>
				<string>4008-270-270</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中速快递电话</string>
				<key>comID</key>
				<string>zhongsukuaidi</string>
				<key>phoneNumber</key>
				<string>11183</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中睿速递电话</string>
				<key>comID</key>
				<string>zhongruisudi</string>
				<key>phoneNumber</key>
				<string>400-0375-888</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中外运速递电话</string>
				<key>comID</key>
				<string>zhongwaiyun</string>
				<key>phoneNumber</key>
				<string>010-80418611</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中铁快运电话</string>
				<key>comID</key>
				<string>ztky</string>
				<key>phoneNumber</key>
				<string>95572</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中铁物流电话</string>
				<key>comID</key>
				<string>zhongyouwuliu</string>
				<key>phoneNumber</key>
				<string>400-000-5566</string>
			</dict>
			<dict>
				<key>name</key>
				<string>郑州建华</string>
				<key>comID</key>
				<string>zhengzhoujianhua</string>
				<key>phoneNumber</key>
				<string>0371-65995266</string>
			</dict>
			<dict>
				<key>name</key>
				<string>忠信达电话</string>
				<key>comID</key>
				<string>zhongxinda</string>
				<key>phoneNumber</key>
				<string>400-646-6665</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中邮物流电话</string>
				<key>comID</key>
				<string>zhongyouwuliu</string>
				<key>phoneNumber</key>
				<string>11183</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
